<div class="container my-5">


    <ngb-accordion [closeOthers]="true">
        <ngb-panel id="static-1" title="Jak działa promowanie serwera?">
          <ng-template ngbPanelContent>
            Po wpisaniu ilości dni promowania serwera wypełnij formularz. Po zatwierdzeniu formularza zostaniesz przeniesiony na stronę płatności. Po
            płatności serwer pojawi się w promowanych.
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2" title="Jak działa plugin topki?">
          <ng-template ngbPanelContent>
            Udostępniamy Tobie plugin który sprawdza czy dany gracz zagłosował. Jeżeli gracz zagłosował, to w configu pluginu możesz ustawić jakie będą nagrody za głosowanie na topce, skonfigurować wiadomości itd.
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-3" title="Dlaczego nie mogę dodać serwera?">
          <ng-template ngbPanelContent>
            Jeżeli nie możesz dodać serwera, a próbowałeś na wszystkie sposoby, dołącz na nasz discord i otwórz ticket w zakładce pomoc.
          </ng-template>
        </ngb-panel>
      <ngb-panel id="static-4" title="Kiedy serwery są czyszczone?">
        <ng-template ngbPanelContent>
          Serwery są usuwane, gdy są nieaktywne przez cały miesiąc, lub gdy serwer łamie nasz regulamin.
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-5" title="Gdzie mogę pobrać plugin topki?">
        <ng-template ngbPanelContent>
          Plugin topki możesz znaleźć na naszym <a href="https://discord.gg/4RyXeBYcTx">discordzie</a>. Podawane są tam wszystkie informacje na temat aktualizacji, błedów itd.
        </ng-template>
      </ngb-panel>
    </ngb-accordion>


</div>
