<div class="container my-5">
<h3>Definicje</h3>
<p>TopkaMinecraft.pl- serwis oferujący usługi promowania serwerow gier minecraft na stronie, którego właścicielem jest firma OtherKey Artur Paszenda indywidualna działalność gospodarcza., Borucka 7b, 47-470 Krzanowice, REGON 387273867, NIP 6392020809.</p>

<h3>Postanowienia ogólne</h3>
<p class="mb-0">1.Właściciel zastrzega sobie prawo do wprowadzenia zmian w podanym regulaminie.</p>
<p>2. Właściciel zastrzega sobie prawo do zmiany cen usług.</p>


<h3>Rodzaje niedozwolonych działań</h3>
<p>Jeżeli jest podejrzenie nieprawdziwych głosów - podejrzane adresy IP głosujące, nietypowe działania na stronie, promowany serwer może zostać zablokowany, a ponowne jego dodanie nie będzie możliwe.</p>

<h3>Świadczenie usługi</h3>
<p>Za udany zakup serwer zostaje wyróżniony na głównej liscie oraz na wszystkich kategoriach, oraz trybach do którego należy.</p>

<p class="mb-0">Zakupione usługi nie podlegają zwrotowi.</p>
<p>Reklamacja PSC, PayPal, Przelew jest możliwa, jeśli kwota zostanie pobrana a usługa nie zostanie przydzielona. Reklamacje należy wysyłać na kontakt@otherkey.pl</p>

<h3>Kontakt</h3>
<p class="mb-0">Właściciel strony i sklepu lub firma obsługująca płatności może poprosić o udzielenie szczegółowych danych zawartych podczas transakcji w celu poprawnego rozpatrzenia problemu.</p>
<p>Rozpatrzenie reklamacji nastąpi niezwłocznie, w czasie nie dłuższym niż 7 dni. W przypadku konieczności uzyskania dodatkowych informacji, reklamacja może się wydłużyć jednak nie dłużej niż 14 dni od dnia otrzymania reklamacji.</p>

<p>W celu skróceniu czasu reklamacji, w treści maila należy zamieścić: email, metodę płatności, kwotę płatności, potwierdzenie wykonania płatności.</p>

<h3>Postanowienia końcowe</h3>
<p>W przypadku sporu, istnieje możliwość skorzystania z pozasądowego rozpatrywania reklamacji w postaci wysłania maila na kontakt@otherkey.pl</p>
</div>