<div class="container">
  <div class="container-fluid d-none d-md-block">
    <div class="container">
      <div class="row">
        <div class="col-xl-2 col-md-2"></div>
        <div class="col-xl-5 col-lg-5 col-md-5 align-self-center">Informacje o serwerze</div>
        <div class="col-xl-2 col-lg-2 col-md-2 align-self-center text-center">Wersja</div>
        <div class="col-xl-2 col-lg-2 col-md-2 align-self-center text-end pr-4">Online</div>
        <div class="col-xl-1 col-lg-1 col-md-1 align-self-center text-end pr-4">Like</div>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="col-12 p-2 my-3 serv-item"></div>
    <div class="col-12 p-2 my-3 serv-item"></div>
    <div class="col-12 p-2 my-3 serv-item"></div>
    <div class="col-12 p-2 my-3 serv-item"></div>
    <div class="col-12 p-2 my-3 serv-item"></div>
    <div class="col-12 p-2 my-3 serv-item"></div>
    <div class="col-12 p-2 my-3 serv-item"></div>
    <div class="col-12 p-2 my-3 serv-item"></div>
    <div class="col-12 p-2 my-3 serv-item"></div>
    <div class="col-12 p-2 my-3 serv-item"></div>
    <div class="col-12 p-2 my-3 serv-item"></div>
</div>
