<div class="container-fluid my-5">
  <div class="container border py-5 shadow-lg" style="margin-top: 15vh; margin-bottom: 15vh">
    <div class="row">
      <div class="col-12">
        <h4 class="text-center">Logowanie</h4>
      </div>
      <div class="col-12">
        <p class="text-center">Zaloguj się do panelu użytkownika</p>
      </div>
      <form ngNativeValidate [formGroup]="recaptcha" (ngSubmit)="captchaElem.execute()">
        <div class="col-12 mb-3">
          <input #email type="email" class="form-control" id="email" placeholder="Email" name="email">
        </div>
        <div class="col-12 mb-3">
          <input #password type="password" [minLength]="'6'" class="form-control" id="pwd" placeholder="Hasło" name="pswd">
          <p style="font-size: 14px"><a routerLink="/test">Zapomniałeś hasła?</a></p>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <button type="submit" style="background-color: #e27f46" class="btn btn"> Zaloguj </button>
          </div>
        </div>
        <ngx-invisible-recaptcha formControlName="recaptcha" (success)="authUser(email.value, password.value, captchaElem)" #captchaElem [siteKey]="siteKey" class="float-start"></ngx-invisible-recaptcha>
      </form>
        <div class="col-12 justify-content-center text-center mt-1">
          <a style="font-size: 14px" routerLink="/test2">Nie masz konta? Zarejestruj się</a>
        </div>
      <div class="col-12 justify-content-center text-center mt-3">
        <div *ngIf="alert == true" class="alert alert-warning" role="alert">
          Nie znaleziono takiego użytkownika, lub podane hasło jest nieprawidłowe.
        </div>
      </div>
    </div>
  </div>
</div>



